@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,700&display=swap');

// ------- Variables

// -- Colors
$wt:#fff;
$blu: midnightblue;
$pink: lightpink;
$dpink: salmon;

// -- Fonts
$wor: 'Work Sans', sans-serif;


*, *:before, *:after {
  margin:0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

body {
  margin: 1em auto;
  max-width: 40em;
  background: $blu;
  font-family: $wor;
  color: $wt;
  text-align: center;
}

h1 {
  font-size: 1.65em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $wt;
  margin: 2.5em auto 2em;
}

.timer {
  max-width: 70vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: .25fr 1fr 1fr 1fr;
}

#total {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  p {
    font-size: 1.5em;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.5;
    margin-bottom: 1.5em
  }
}

.circle {
  grid-column: 1 / -1;
  grid-row: 2 / 5;

  svg {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  circle {
    fill: none;
  }

  .dash-bk {
     stroke: rgba($wt, 0.15);
  }

  .circle_animation {
    stroke: $pink;
    stroke-dasharray: 220;
    stroke-dashoffset: 220;
  }

  .dash {
     stroke: $blu;
  }
}

#app {
  grid-column: 1 / -1;
  grid-row: 3 / -1;
}

#time-count {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  font-size: 3em;
  font-weight: 700;
  line-height: 2.25;
  letter-spacing: 4px;

  @media (min-width: 650px) {
    font-size: 3.75em;
  }

  @media (min-width: 800px) {
    font-size: 4.75em;
  }
}

button {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: none;
  outline: inherit;
  cursor: pointer;

  &:focus {
    border: 4px solid $pink;
  }

  &:hover {
    box-shadow: 0 0 9px 9px rgba(15,15,66,.2);
    transform: scale(1.05);
  }

  @media (min-width: 650px) {
    width: 100px;
    height: 100px;
  }

  @media (min-width: 800px) {
    width: 125px;
    height: 125px;
  }

  &[data-restart-timer] {
    background-color:$dpink;
    background-image: url('../img/refresh.svg');
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    transition: transform .15s ease-in-out;

    @media (min-width: 650px) {
      background-size: 50px;
    }

    @media (min-width: 800px) {
      background-size: 60px;
    }
  }
}

#actions {

  @media (min-width: 800px) {
    margin-top: 30px;
  }
  
  button {

    &[data-start-timer],
    &[data-pause-timer],
    &[data-restart-timer]
     {
      background-repeat: no-repeat;
      background-position: center;
      width: 50px;
      height: 50px;

      @media (min-width: 650px) {
        background-size: 40px;
        width: 60px;
        height: 60px;
      }

      @media (min-width: 800px) {
        background-size: 50px;
        width: 70px;
        height: 70px;
      }
    }

    &[data-start-timer],
    &[data-pause-timer] {
      background-color: $dpink;
      background-size: 30px;
      margin-right: 2em;

      @media (min-width: 650px) {
        background-size: 35px;
      }

      @media (min-width: 800px) {
        background-size: 40px;
      }
    }

    &[data-start-timer] {
      background-image: url('../img/play.svg');
    }

    &[data-pause-timer] {
      background-image: url('../img/pause.svg');
    }

    &[data-restart-timer] {
      background-color: rgba($wt,0.25);
      background-size: 25px;
      margin-top: 0;
      
      &:focus {
        border: 4px solid rgba($wt, 0.2);
      }

      @media (min-width: 650px) {
        background-size: 30px;
      }

      @media (min-width: 800px) {
        background-size: 35px;
      }
    }
  }
}
